PORT=3001
TAPO_EMAIL=your-tapo-email@example.com
TAPO_PASSWORD=your-tapo-password
TAPO_DEVICE_ALIAS=
TAPO_DEVICE_ID=
TAPO_DEVICE_IP=
HOME_ASSISTANT_URL=http://localhost:8123
HOME_ASSISTANT_TOKEN=PASTE_TOKEN_HERE
TAPO_LIGHT_ENTITY=light.tapo_l530
