PORT=3001
TAPO_EMAIL=your-tapo-email@example.com
TAPO_PASSWORD=your-tapo-password
TAPO_DEVICE_ALIAS=
TAPO_DEVICE_ID=
TAPO_DEVICE_IP=
HOME_ASSISTANT_URL=http://localhost:8123
HOME_ASSISTANT_TOKEN=PASTE_TOKEN_HERE
TAPO_LIGHT_ENTITY=light.tapo_l530
TAPO_LIGHT_COLOR_ENTITY=tapo_l530_light_preset
TAPO_LIGHT_ON_ENTITY=tapo_l530_smooth_on
TAPO_LIGHT_OFF_ENTITY=tapo_l530_smooth_off
